* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    /* position: relative; */
}
ul li{
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}





/* HEADER */

.header {
    width: 100vw;
    height: 14vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 0 3vw;
    position: fixed;
    z-index: 800;
    transition: all 0.5s ease;
}
.sticky {
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px 1px lightgrey;
    transition: all 0.5s ease;
}
.logo{
    height: 100%;
    width: 15%;
    /* background-color: red; */
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav-bar ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.nav-bar ul li{
    font-weight: 500;
    position: relative;
    transition: 0.4s ease;
    line-height: 1.6em;
    margin: 0 1.2vw;
}
.nav-bar ul li:nth-child(2){
    color: rgb(185, 75, 105);
}
.nav-bar ul li::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(185, 75, 105);
    width: 0;
    height: 1px;
    transition: 0.4s ease;
}
.nav-bar ul li:nth-child(2)::before{
    width: 100%;
}
.nav-bar ul li:hover{
    color: rgb(185, 75, 105);
}
.nav-bar ul li:hover::before{
    width: 100%;
}
.icon-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 13%;
}
.icon-container a img{
    height: 100%;
}
.icon-container a {
    height: 32%;
}
.iconsearch-ctr {
    height: 32%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.iconsearch-ctr:hover .search-box{
    transform: translateY(0vh);
}
.search-box{
    position: absolute;
    width: 100vw;
    height: 40vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.45s ease-in-out;
    transform: translateY(-100vh);
    background-color: rgba(242, 116, 116, 0.3);
}
.search-box label{
    width: 60%;
    height: 20%;
}
label input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 2%;
    font-size: 17px;
}
label span{
    display: none;
}
.icon {
    height: 20%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.icon img{
    width: 45%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    cursor: pointer;
}
.icon-cart{
    position: relative;
    height: 32%;
    cursor: pointer;
}
.icon-cart img{
    width: 100%;
    height: 100%;
}








/* CART */
.cart{
    position:fixed;
    height: 86vh;
    right: 0;
    top: 14vh;
    width: 50%;
    background-color: #F7F7F7;
    z-index: 600;
    display: flex;
    flex-direction: column;
    transition: 0.8s ease;
    /* opacity: 0.1; */
}
.cart-head-text {
    height: 7%;
    /* background-color: lightblue; */
    text-align: center;
    position: relative;
}
.cart-head-text p{
    /* background-color: lightpink; */
    font-weight: 500;
    font-size: 1.3em;
    line-height: 7vh;
    height: 100%;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: lightgrey;
}
.total-quantity{
    background-color: red;
    text-align: center;
    line-height: 6vh;
    font-weight: 500;
    font-size: 1.1em;
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-color: lightgrey;
}
.list-cart{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    scrollbar-width: none;
    /* background-color: red; */
}
.newCart{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    scrollbar-width: none;
}
.cart-item{
    display: grid;
    grid-template-columns: 12% 1fr 10%;
    align-items: center;
    width: 90%;
    padding: 2vh 0;
    gap: 10px;
    border-width: 0 0 1px 0;
    border-color: lightgrey;
    border-style: solid;
}
.cart-item img{
    width: 100%;
    height:90%;
    object-fit: cover;
}
.value{
    color: rgb(185, 75, 105);
}
.cart-item-name{
    font-weight: 500;
}
.item-content{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
}
.quantity{
    /* background-color: lightblue; */
    text-align: center;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity button {
    width: 30%;
    aspect-ratio: 1 / 1;
    border: none;
    margin: 0 3px;
    font-size: 1em;
    background-color: white;
}
.total-price-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1.3fr;
    height: 22vh;
    width: 100%;
    bottom: 0;
    background-color: lightblue;
    position: absolute;
}
.total {
    width: 100%;
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.sub-total{
    width: 100%;
    padding: 0 4%;
    display: flex;
    box-shadow: 0 0 10px 1px lightgrey;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
    box-shadow: 10px 0 5px 1px lightgrey;
}
.shipping{
    width: 100%;
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
}
.shipping-address{
    color: grey;
    width: 40%;
}
.total p{
    font-size: 1.3em;
    font-weight: 500;
}
.total-price{
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(185, 75, 105);
}
#shipping-address-box{
    border: none;
    outline:none;
    pointer-events: none;
    font-size: 1em;
    color: grey;
    text-align: right;
    width: 100%;
    padding: 0;
    background-color: #F7F7F7;
}
.shipping-address-box:focus{
    border: none;
}















form {
    width: 50%;
    margin-top: 14vh;
    height: 86vh;
    padding: 20px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 8px;
    font-size: 1em;
    border: none;
    outline: none;
    
}

input:focus {
    border: 2px solid #FF91AF;
}
.radio-container{
    display: flex;
    flex-direction: row;
}
legend {
    display: none;
}
.contact-input{
    background-color: #F7F7F7;
    padding: 12px;
}
.radio-container {
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    gap: 10px;
}

.radio-container label {
    cursor: pointer;
}
.button-input {
    margin-top: 20px;
    float: right;
}

input[type="reset"],
input[type="submit"] {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #FF91AF;
    color: white;
}

.radio-input label:first-child{
    font-weight: 500;
}
.take-order{
    font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background-color: black;
}

.heading-text{
    font-size: 1.3em;
    line-height: 2em;
}

.delivery-radio,
.pay-radio{
    display: flex;
    flex-direction: column;
}
.text-input,
.radio-card{
    margin: 10px 0;
}
.radio-input{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    padding: 15px;
}
.radio-box{
    font-size: 1.1em;
}
.billing-address{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
}
#radio-active-1,
#radio-active-2{
    display: none;
    flex-direction: column;
}
.heading-text span{
    margin-right: 12px;
    color: #FF91AF;
    font-size: 0.8em;
}




.best-seller {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.8s ease;
    padding-bottom: 10vh;
}
.best-seller.active{
    opacity: 1;
}
.seller-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    padding: 0 4vw;
}
.title-small{
    font-weight: 400;
    color: rgb(78, 78, 78);
    font-size: 1.1em;
    margin: 2.5vh 0 8vh 0;
}
.content-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px 0.01em #ECECEC;
    position: relative;
    cursor: pointer;
}
.content-item img{
    width: 100%;
}
.item-name{
    font-weight: 500;
}
.item-price{
    font-weight: 700;
    color: rgb(185, 75, 105);
    margin: 3% 0;
}
.item-icons{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20%;
    height: 12%;
    display: flex;
    opacity: 0;
    justify-content:center;
    transition: 0.45s ease;
}
.icon-slide{
    height: 100%;
    aspect-ratio: 1 / 1;
    margin: 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 10px 1px lightgrey;
    transition: 0.3s ease;
    cursor: pointer;
}
.icon-slide:hover{
    background-color: #FF91AF;
}
.icon-slide:hover path{
    fill: white;
}
.icon-slide path{
    fill: black;
    transition: 0.3s ease;
}
.content-item:hover .item-icons{
    bottom: 25%;
    opacity: 1;
}
.hidden{
    /* font-size: 0.1em; */
    position: absolute;
    visibility: hidden;
}


